/* cards da manutenção */
.card{
    display:block;
    background:white;
    padding:30px;
    border-radius:14px;
    box-shadow:0 4px 12px rgba(0,0,0,0.06);
    text-decoration:none;
    color:inherit;
    margin-bottom:20px;
    transition:0.25s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 28px rgba(0,0,0,0.12);
}

/* texto vazio */
.vazio{
    color:#6b7280;
    font-style:italic;
    text-align:center;
}